<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid navbar-items">
        <img src="../../assets/Resources/Navbar/image 1.png" alt="logo" />
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item"
                                href="/PaginaJuego/proyect/Vistas/paginas/modulos/perfil.php">Perfil</a></li>
                        <li><a class="dropdown-item"
                                href="/PaginaJuego/proyect/Vistas/paginas/modulos/ajustes.php">Ajustes</a></li>
                        <li><a class="dropdown-item"
                                href="/PaginaJuego/proyect/Vistas/paginas/modulos/accesibilidad.php">Accesibilidad</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>